*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Arial";
}

main{
    position: relative;
    padding: 130px 0;
}

header{
    padding: 19px 0;
}

a, h1, p {
    color: #fff
}

h1{
    max-width: 692px;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 800;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

footer{
    background-color: #f4d633;
    padding: 14px 0px;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.gap_10{
    gap: 10px;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.main_container{
   background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
}

.navigation{
    width: 100%;
    max-width: 438px;
    padding: 0 56px;
    border-radius: 20px;
    background-color: rgba(172, 172, 170, 0.3);
}

.menu a{
    display: inline-block;
    padding: 9px 0;
    font-size: 14px;
    line-height: 2.1em;
    text-transform: uppercase;
    font-weight: bold;
}

.contacts a {
    font-size: 16px;
    line-height: 3.1em;
}

.main_text{
    position: relative;
    min-width: 70vw;
    z-index: 2;
}

.slogan{
    font-size: 30px;
    padding-bottom: 25px;
}

.cta_container{
    padding-bottom: 32px;
}

.cta{
    display: inline-block;
    padding: 22px 42px;
    font-size: 18px;
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold;
    border-radius: 35px;
    background-color: transparent;
    border: 3px solid #f4d633;
}

.raiting_container{
    font-size: 20px;
    font-weight: bold;
}

.ball_container{
    position: absolute;
    bottom: 0;
    right: -10px;
}

.graphick > p{
    color: #1e3c6f;
    font-weight: bold;
}

footer > p{
    font-size: 12px;
    color: #204075;
    text-align: right;
}