*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Arial";
}

header{
    padding: 19px 0;
}

a, h1, p {
    color: #fff
}

h1{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 800;
}

a {
    text-decoration: none;
}

footer{
    background-color: #f4d633;
}


.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

.main_container{
   background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
}

.navigation{
    max-width: 438;
    border-radius: 20px;
    background-color: rgba(172, 172, 170, 0.3);
}

.menu a{
    display: inline-block;
    padding: 15px 0;
    font-size: 14px;
    line-height: 2.1em;
    text-transform: uppercase;
    font-weight: bold;
}

.contacts a {
    font-size: 16px;
    line-height: 3.1em;
}

.main_text{
    max-width: 692px;
}

.slogan{
    font-size: 30px;
    padding-bottom: 25px;
}

.cta{
    display: inline-block;
    padding: 22px 42px;
    font-size: 18px;
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold;
    border-radius: 35px;
    background-color: transparent;
    border: 3px solid #f4d633;
}

.raiting_container{
    font-size: 20px;
    font-weight: bold;
}

.graphick p{
    color: #1e3c6f;
    font-weight: bold;
}