*{
    margin: 0;
    padding: 0;
}

html{
    font-size: .8px;
}

body{
    font-family: "Arial";
}

main{
    position: relative;
    padding: 130rem 0;
}

header{
    display: flex;
    flex-direction: column;
    padding: 19rem 15rem;
    z-index: 2;
}

a, h1, p {
    color: #fff
}

h1{
    max-width: 692rem;
    font-size: 48rem;
    text-transform: uppercase;
    font-weight: 800;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

footer{
    position: relative;
    background-color: #f4d633;
    padding: 14rem 0;
    z-index: 1;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.items_center{
    display: flex;
    align-items: center;
}

.gap_10{
    gap: 10rem;
}

.wrapper{
    max-width: 1000rem;
    margin: 0 auto;
}

.black{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4rem);
    z-index: 1;
}

.header_container{
    flex-direction: row;
}

.logo img{
    width: 167rem;
    height: 37rem;
}

.icon_phone{
    width: 26rem;
    height: 26rem;
}

.menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 70vw;
    height: 100vh;
    padding: 30rem;
    background-color: #1e3c6f;
}

.burger{
    position: relative;
    z-index: 2;
    padding-right: 30rem;
}

.burger span{
    display: block;
    width: 50rem;
    height: 4rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    background-color: #fff;
    background-repeat: 1rem;
    border-radius: 3rem;
    z-index: 2;
}

.cancel{
    position: absolute;
    top: 10rem;
    right: 10rem;
}

.cancel a{
    font-size: 40rem;
    list-style: none;
    color: #b1b1d2;
}

.main_container{
   background-image: radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);
}

.navigation{
    width: 100%;
    max-width: 438rem;
    padding: 0 26rem;
    border-radius: 30rem;
    z-index: 5;
}

.menu a{
    display: inline-block;
    padding: 9rem 0;
    font-size: 14rem;
    line-height: 2.1em;
    text-transform: uppercase;
    font-weight: bold;
}

.contacts{
    display: none;
}

.contacts a {
    font-size: 16rem;
    line-height: 3.1em;
}

.main_text{
    position: relative;
    padding: 0 15rem;
    min-width: 70vw;
    z-index: 1;
}

.level{
    font-size: 16rem;
}

.slogan{
    font-size: 30rem;
    padding-bottom: 25rem;
}

.cta_container{
    padding-bottom: 32rem;
}

.cta{
    display: inline-block;
    padding: 22rem 42rem;
    font-size: 18rem;
    text-transform: uppercase;
    color: #f4d633;
    font-weight: bold;
    border-radius: 35rem;
    background-color: transparent;
    border: 3rem solid #f4d633;
}

.raiting_container{
    font-size: 20rem;
    font-weight: bold;
}

.raiting_container img{
    width: 99rem;
    height: 19rem;
}

.ball_container{
    position: absolute;
    bottom: 0;
    right: -10rem;
}

.ball_container img{
    width: 457rem;
    height: 720rem;
}

.graphick > p{
    font-size: 16rem;
    color: #1e3c6f;
    font-weight: bold;
}

footer p{
    font-size: 12rem;
    color: #204075;
}

footer > div{
    padding: 0 15rem;
}

.list_footer img{
    width: 25rem;
    height: 25rem;
}

.list_footer{
    display: flex;
    flex-direction: row;
}

.bottom_logo{
    grid-area: logo;
}

.bottom_logo img{
    width: 167rem;
    height: 37rem;
}

.graphick{
    grid-area: graphick;
}

.social_nav{
    grid-area: social;
}

@media screen and (max-width: 370px) {
    footer > div{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 10rem;
    }

    .bottom_logo p{
        padding-left: 130rem;
    }
}

@media screen and (min-width: 370px) {
    footer > div{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-areas: 
        ". logo ."
        "graphick . social";
    }

    .graphick{
        padding-left: 15rem;
    }

    .bottom_logo p{
        text-align: right;
    }
}

@media screen and (max-width: 425px) {
    h1{
        font-size: 30rem;
    }
}

@media screen and (min-width: 525px) {
    footer > .wrapper{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 880px) {
    header{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .menu{
        position: static;
        left: -100%;
        display: flex;
        justify-content: space-between;
        width: auto;
        height: auto;
        padding: 0;
        background-color: transparent;
    }

    .navigation{
        background-color: rgba(172, 172, 170, 0.3);
    }

    a.cancel, .black, .burger{
        display: none;
    }

    a.phone_list{
        display: none;
    }

    .contacts{
        display: block;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 0.93px;;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 1px;
    }
}

@media screen and (min-width: 2200px) {
    html {
        font-size: 1.5px;
    }
}